* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #01030D !important;
  font: 1.1rem sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Space Grotesk' !important;
  color: #848198 !important;
  line-height: 32px !important;
}

.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}
